html {
  background-color: #6d7577;
}

body {
  margin: 20px;
  background-color: #dfd9d7;
  padding: 20px;
  border-radius: 7px;
}

header {
  font-size: xx-large;
  
}

#funcionamento {
  font-family: 'Courier New', Courier, monospace;
}

.completed {
  text-decoration: line-through;
}

#apaga-tudo {
  padding: 5px;
  background-color: #E13636;
  border: 2px solid black;
  color: white;
  border-radius: 10px;
}

#apaga-tudo:hover {
  background-color: #a02323;
  color: rgb(138, 138, 138);
}